
body{
    background-image: url('../img/shadow.png'),url('../img/shadow-bottom.png');
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
/* Navbar */
.navbar .container{
    display: block;
}
.navbar {
    position: fixed;
    background-color: transparent;
    width: 100%;
    z-index: 2;
    padding: 20px 0;
    transition: all 0.3s ease;
}
.navbar .logo img{
    width: 80px;
}
.navbar.sticky {
    background:#f3f5f7;
    padding: 5px 0;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.425);
    z-index: 3;
}
.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .menu-list {
    display: inline-flex;
    margin: 0;
  }
.menu-list li {
    list-style: none;
    padding: 5px 30px;
}
.menu-list li:nth-child(7){
    border: 1px solid black;
    border-radius: 10px;
}
.menu-list li a {
    color: #000;
    font-size: 15px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.menu-list .cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}
.icon {
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
#hero {
    background: url('../img/dekor-2.png') no-repeat;
    background-position:right ;
    background-size: 500px;
    background-position-y: top;
    padding-top: 100px;
}
#hero h1{
    font-size: 50px;
    font-family: 'Volkhov', serif;
    color: #181E4B;
    margin-bottom: 0 !important;
}
#hero h5 {
    color: #029BC5;
    margin-bottom: 0 !important;
}
#hero .hero-p{
    display: inline-block;
    width: 85%;
    font-size: 16px;
    font-weight: 700;
    color: #5E6282;
}
#hero .hero-img{
    width: 50%;
}
#hero button.btn {
    width: 170px;
    background-color: #F1A501;
    border-radius: 10px;
    padding: 15px 20px;
    font-weight: 500;
    color: #fff;
}
#hero .wrapper-play-btn{
    display: inline-block;
    padding-right: 30px;
    height: 50px;
    cursor: pointer;
    border-radius: 30px;
}
#hero button.video-play-btn {
    background-color: #DF6951;
    border: none;
    color: #fff;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    font-size: 16px;
    padding: 0 !important;
}
#hero .wrapper-play-btn span{
    font-weight: 700;
    color: #5E6282;
}
.wrapper-play-btn{
    display: block;
}
.survey{
    margin-right: 40px;
    width: 35%;
    border: none;
    height: auto;
    padding: 15px 20px;
    color: #fff;
    background-color: #F1A501;
}
.asset {
    border: none;
    width: 35%;
    height: auto;
    padding: 15px 20px;
    color: #fff;
    background-color: #DF6951;

}
.asset:hover,#hero .video-play-btn:hover,.survey:hover,#hero button.btn:hover{
    transition: 0.3s ease;
    transform: scale(0.9);
}
.judul{
    font-family: 'Volkhov', serif;
}
#about .container{
    background: url('../img/dekor-3.jpg') no-repeat;
    background-position-x: 90%;
    background-position-y: 80%;
}

/* Card Carousel */
.slider{
    margin: 0 auto;
    max-width: 80%;
    display: flex;
  }
  .slider .card{
    border: none;
    border-radius: 20px;
    flex: 1;
    margin: 0 10px;
    background: #fff;
  }
  .slider .card:hover{
      transition: 0.3s ease;
      transform: scale(1.1);
  }
  .slider .card .img img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: auto;
    width: 100%;
    object-fit: cover;
  }
  .slider .card .content{
    padding: 10px 20px;
  }
  .slider .card .content .title{
    font-size:15px ;
    font-weight: 700;
    color: #5E6282;
  }
#about .owl-stage-outer,#services .owl-stage-outer,#best-procurement .owl-stage-outer {
    padding: 30px 0;
  }
#services .slider,#best-procurement .slider{
    max-width: 90%;
}
#services .slider .content p i,#best-procurement .slider .content p i{
    
    padding: 10px 10px;
    margin: 0 3px;
    border-radius: 50px;
    background: #e2dcdcfd;
}
#services p,#best-procurement p{
    color: #5E6282;
}
#services  .slider .card .content{
    padding: 5px 10px;
}

.fa-building{
    width: none !important;
    height: none !important;
    border-radius: none !important;
    background: none !important;
}


/* Testimonial */
#testimonial p{
    margin-bottom:0 ;
}
#testimonial .owl-stage-outer{
    padding: 10px 0;
}
.gtco-testimonials {
    position: relative;
    margin-top: 30px;
  }
  h2 {
    font-size: 30px;
    text-align: center;
    color: #333333;
    margin-bottom: 50px;
  }
.owl-nav {
    display: none;
}
.owl-dots {
    text-align: center;
}
#testimonial span {
    position: relative;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: block;
    background: #fff;
    background: #01b0f8;
    border: 2px solid #01b0f8;
    margin: 0 5px;
  }
  .active {
    box-shadow: none;
  }
 #testimonial .card {
    background: #fff;
    box-shadow: 0 8px 30px -7px #c9dff0;
    margin: 0 20px;
    padding: 0 10px;
    border-radius: 20px;
    border: 0;
  }
  #testimonial .card-img-top {
    max-width: 100px;
    border-radius: 50%;
    margin: 15px auto 0;
    box-shadow: 0 8px 20px -4px #95abbb;
    width: 100px;
    height: 100px;
  }

  h5 {
    color: #01b0f8;
    font-size: 21px;
    line-height: 1.3;
  }
 .gtco-testimonials .active {
    opacity: 0.5;
    transition: all 0.3s;
  }
 .gtco-testimonials .center {
    opacity: 1 !important;
  }

/* Portfolio */
#portfolio{
    background-image: url('../img/dekor-portfolio-3.png');
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: bottom;
}
.img-hover {
    filter: grayscale(100%);
    width: 200px;
    height: 70px;
    border-radius: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
   
}
.img-hover:hover{
    transition: 0.3s;
    box-shadow: 0 2px 6px rgb(0 0 0 / 0.2);
    filter: none;
}
.form-wrapper{
    border-radius: 100px 20px 20px 20px;
    background-color: #DFD7F9;
    background-image: none,url('../img/dekor-portfolio-2.png');
    background-repeat: no-repeat,no-repeat;
    background-position: left bottom,right top;
    padding: 50px 50px 50px 50px;
}

.form-wrapper h3{
    color: #5E6282;
    font-size: 1rem;
    padding: 20px 0;
}
.email{
    color: #39425D;
    display: inline-block;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    background: #fff;
    border: none;
}
.email i {
    font-size: 20px;
    margin-right: 10px;
}
.subscribe{
    display: inline-block;
    width: 200px;
    padding: 20px 10px;
    background: linear-gradient(180deg,#FF946D 0%, #FF7D68 100%);
    border-radius: 10px;
    color: white;
    border: none;
}
/* FOOTER */
footer{
    background-image: url('../img/dekor-portfolio-3.png');
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: -70px;
}
.footer h4{
    margin-bottom: 20px;
    font-size: 20px;
}
.footer ul{
    padding: 0;
    list-style: none;
    margin-bottom: 20px !important;
}
.footer ul li,.footer p{
    color: #5E6282;
    font-weight: bold;
    font-size: 15px;
}
.get-on{
    display: inline-block;
    width: 100%;
}
.facebook{
    border-radius: 20px;
    background-color: white;
    padding: 10px 18px;
    cursor: pointer;
}
.instagram{
    border-radius: 20px;
    background-color: white;
    padding: 10px 14px;
    cursor: pointer;

}
.twitter{
    border-radius: 20px;
    background-color: white;
    padding: 10px 14px;
    cursor: pointer;
}
.facebook:hover,.twitter:hover,.instagram:hover{
    transition: 0.2s ease;
    background: conic-gradient(from 180deg at 50% 50%, #B8D2F1 0deg, #F289AA 60deg, #C68BF0 106.09deg, #D164DA 153.75deg, #C963E8 221.25deg, #BFC2E8 258.75deg, #FFC999 288.75deg, #D0D8C9 315deg, #BAD0F1 334.13deg, #CED8CB 358.97deg, rgba(255, 255, 255, 0) 360deg);;
    color: #fff;
    transform: scale(0.9);
}


.google-play-inline{
    background: none;
    display: inline-block;
    border: none;
}
.app-store-inline{
    background: none;
    border: none;
    display: inline-block;
}
.google-play{
    width: 120px;
    padding: 8px;
    background-color: #000;
    color: white;
    border-radius: 50px;
    display: table;
}
.google-play .box-img{
    display: table-cell;
    vertical-align: top;
    width:20px;
    position: relative;
}
.google-play .box-img img{
    width: 30px;
    height: 27px;
}
.google-play .box-title{
    font-size: 10px;
}
.app-store{
    width: 120px;
    padding: 10px;
    background-color: #000;
    color: white;
    border-radius: 50px;
    display: table;
}
.app-store .box-img{
    display: table-cell;
    vertical-align: top;
    width:20px;
    position: relative;
}
.app-store .box-img img{
    width: 30px;
    height: 27px;
}

.app-store .box-title{
    font-size: 8px;
}
.title-apple-store{
    font-size: 10px !important;
}
footer p{
    font-size: 15px;
    color: #5E6282;
    font-weight: 500;
}
/* Navbar Responsive */
@media (max-width: 1230px) {
    .content {
      padding: 0 60px;
    }
}
@media (max-width: 1100px) {
    .content {
      padding: 0 40px;
    }
}
@media (max-width: 900px) {
    .content {
      padding: 0 30px;
    }
    body.disabled {
        overflow: hidden;
      }
      .icon {
        display: block;
      }
      .icon.hide {
        display: none;
      }
      .navbar .menu-list {
        position: fixed;
        width: 100%;
        left: -100%;
        top: 0px;
        display: block;
        padding: 40px 0;
        text-align: center;
        background: #e9ecef;
        transition: all 0.3s ease;
      }
      .navbar.show .menu-list {
        left: 0%;
      }
      .navbar .menu-list li {
        padding: 10px 0;
      }
      .navbar .menu-list li:nth-child(7){
          width: 50%;
          margin: auto;
          
      }
      .navbar .menu-list li a {
        font-size: 18px;
        margin-left: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      .navbar.show .menu-list li a {
        margin-left: 0px;
      }
  }
  @media (max-width: 868px) {
    
  }
/*responsive*/
@media(min-width:1000px){
    .form-wrapper::after{
        content: url('../img/dekor-portfolio-4.png');
        position: absolute;    
        width: auto;
        margin-top: -250px;
        right: 4%;
    }
}
@media (min-width:900px){
    #hero .wrapper-play-btn{
        margin-left: 10%;
    } 
    .footer ul li,.footer p{
        font-size: 18px;
    }
    
}
@media (min-width:800px){
    #hero h1{
        font-size: 80px;   
    }
    #hero .hero-p{
        padding-top: 100px;
    }
    .form-wrapper h3{
        font-size: 1.75rem;
        padding: 30px 0 70px 0;
    }
    .form-wrapper{
        background-image: url('../img/dekor-portfolio.png'),url('../img/dekor-portfolio-2.png');
        padding: 50px 50px 90px 50px;
    }
    
}

@media (min-width:768px){
    .footer img {
        width: 80%;
        height: 80%;
    }
    .footer h4{
        font-size: 20px;
    }
    #hero .hero-img{
        width: 100%;
    }
}
@media (min-width:530px){
 .email{
    padding: 20px 250px 20px 20px;
 }
}
@media (max-width:768px){
    .footer img {
        width: 30%;
        height: auto;
        margin-bottom: 10px;
    }
    footer {
        text-align: center;
    }
}
@media (max-width:600px){
    .slider .card{
        width: 100%;
    }
}
@media (min-width:600px){
    .footer .img{
        text-align: center;
    }
    
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        width: auto;
    }
}